.ant-form{
    padding: 0 30px !important;
}
.ant-form-item-required{
    font-size: 17px !important;
    color:white !important;
}
.ant-btn{
    background-color: darkgoldenrod !important;
    font-size: 16px !important;
    color: whitesmoke !important;
    border: none !important;
}